<li>
{{burger_name}}

<button class="changeState" data-id="{{id}}" data-devoured="{{devoured}}">
{{#if devoured}}Un-devour!{{else}}Devour!{{/if}}</button>

<button class="deleteBurger" data-id="{{this.id}}">X</button>
</li>
